body{
  margin: 0;
  padding: 0;
  background-color: rgb(192, 247, 215);
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  
  
}


.container {
    text-align: center;
    display: grid;
    justify-content: center;
}




